LC/Connected Services/ServiceToken/WS_Recibe_Avaluo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WS_Recibe_Avaluo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IWS_Recibe_Avaluo_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://serviciosqa.solucionideas.com/WS_Recibe_Avaluo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://serviciosqa.solucionideas.com/WS_Recibe_Avaluo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://serviciosqa.solucionideas.com/WS_Recibe_Avaluo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TesoreriaDF_WS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWS_Recibe_Avaluo_BandejaAvaluoXML_InputMessage">
    <wsdl:part name="parameters" element="tns:BandejaAvaluoXML" />
  </wsdl:message>
  <wsdl:message name="IWS_Recibe_Avaluo_BandejaAvaluoXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:BandejaAvaluoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWS_Recibe_Avaluo_ActualizarEnAvaluoXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEnAvaluoXML" />
  </wsdl:message>
  <wsdl:message name="IWS_Recibe_Avaluo_ActualizarEnAvaluoXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEnAvaluoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWS_Recibe_Avaluo_obtenertoken_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenertoken" />
  </wsdl:message>
  <wsdl:message name="IWS_Recibe_Avaluo_obtenertoken_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenertokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IWS_Recibe_Avaluo">
    <wsdl:operation name="BandejaAvaluoXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWS_Recibe_Avaluo/BandejaAvaluoXML" message="tns:IWS_Recibe_Avaluo_BandejaAvaluoXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWS_Recibe_Avaluo/BandejaAvaluoXMLResponse" message="tns:IWS_Recibe_Avaluo_BandejaAvaluoXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEnAvaluoXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWS_Recibe_Avaluo/ActualizarEnAvaluoXML" message="tns:IWS_Recibe_Avaluo_ActualizarEnAvaluoXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWS_Recibe_Avaluo/ActualizarEnAvaluoXMLResponse" message="tns:IWS_Recibe_Avaluo_ActualizarEnAvaluoXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenertoken">
      <wsdl:input wsaw:Action="http://tempuri.org/IWS_Recibe_Avaluo/obtenertoken" message="tns:IWS_Recibe_Avaluo_obtenertoken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWS_Recibe_Avaluo/obtenertokenResponse" message="tns:IWS_Recibe_Avaluo_obtenertoken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IWS_Recibe_Avaluo" type="tns:IWS_Recibe_Avaluo">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IWS_Recibe_Avaluo_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BandejaAvaluoXML">
      <soap:operation soapAction="http://tempuri.org/IWS_Recibe_Avaluo/BandejaAvaluoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEnAvaluoXML">
      <soap:operation soapAction="http://tempuri.org/IWS_Recibe_Avaluo/ActualizarEnAvaluoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenertoken">
      <soap:operation soapAction="http://tempuri.org/IWS_Recibe_Avaluo/obtenertoken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Recibe_Avaluo">
    <wsdl:port name="BasicHttpsBinding_IWS_Recibe_Avaluo" binding="tns:BasicHttpsBinding_IWS_Recibe_Avaluo">
      <soap:address location="https://serviciosqa.solucionideas.com/WS_Recibe_Avaluo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>